---
title: 复旦大学 - 智能服务机器人实验室 

labNameBig: 智能服务机器人实验室
labNameSmall: AET, SCS
labNameDescript: 嘤嘤嘤
layout: default
---

<section>
    <!--Swiper-->
    <div class="swiper-container swiper-slider" data-autoplay="5000" data-slide-effect="fade" data-loop="false">
        <div class="jumbotron text-center">
            <h1>{{ page.labNameBig }}</h1>
            <hr>
            <h3>{{ page.labNameSmall }}</h3>
            <p class="big"><em>{{ page.labNameDescript }}</em> </p>
            <!--<div class='button-group-variant'> <a class='button button-default round-xl button-sm' href='https://www.templatemonster.com/website-templates/58434.html'>Buy Now</a> <a class='button button-default round-xl button-sm' href='#'>View Features</a></div>-->
        </div>
        <div class="swiper-wrapper">
            <div class="swiper-slide" data-slide-bg="images/header-2.jpg">
                <div class="swiper-slide-caption"></div>
            </div>
            <div class="swiper-slide" data-slide-bg="images/header-5.jpg">
                <div class="swiper-slide-caption"></div>
            </div>
            <div class="swiper-slide" data-slide-bg="images/header-6.jpg">
                <div class="swiper-slide-caption"></div>
            </div>
        </div>
    </div>
</section>

<main class="page-content">
    <!--Start section-->
    <section class="well well-sm well-inset-2 text-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-12">
                    <h1 class="font-weight-bold text-center">About Us</h1>
                    <p class="lead big">
                        课题组近年来已经获得数千万元的科研资源投入，包括教育部、国家自然科学基金、上海市科委重大科技专项、复旦大学211专项，以及校企合作项目30余项，产生了一大批具有原创性、自主知识产权的研究成果，并研制了 “自主心智发育机器人－复旦I号”、 “复娃”、“爱家一号”、“海宝机器人”、“中西医健康管理机器人”等6代智能服务机器人。
                    </p>
                </div>
            </div>

    <!--Start section-->
    <section class="well well-sm well-inset-2 text-center text-lg-left">
        <div class="container">
            <h1 class="font-weight-bold text-center">Latest Publications</h1>
            <div class="row row-30">
                {% assign count=0%}
                {% for post in site.posts %}
                {% if post.type == 'paper' and count<3%}
                {% assign count = count | plus:1 %}
                <div class="col-lg-4">
                    <article class="thumbnail thumbnail-4"><img src="{{ BASE_PATH }}/images/paper_teser/{{ post.teser }}" width=400px height=200px  alt="">
                        <div class="caption">
                            <h4><a href="{{ post.url }}">{{ post.title }}</a></h4>
                            <p class="text-dark-variant-2">{{ post.author }}</p>
                            <div class="blog-info">
                                <div class="pull-md-left">
                                    <time class="meta fa-calendar" datetime="2019">{{ post.year }}
                                        {{ post.month }}</time>
                                </div><a class="button-link" href="{{ post.url }}">Read More</a>
                            </div>
                        </div>
                    </article>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
    <!--End section-->

    <!--Start section-->
    <section class="well well-sm well-inset-2 text-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6">
                    <h1 class="font-weight-bold text-center">Collaboration</h1>
                </div>
            </div>
            <div class="row margin-1">
                <!--Owl Carousel-->
                <div class="owl-carousel" data-autoplay="true" data-items="1" data-md-items="2" data-sm-items="1"
                    data-lg-items="3" data-nav="true" data-margin="30" data-loop="true">
                    <blockquote class="quote-2"><img class="img-rounded" href="http://faet.fudan.edu.cn/main.htm" src="images/AETlogo.jpg" alt="">
                        <h6>
                            <cite>AET</cite>
                        </h6>
                        <p class="heading-6 font-italic font-base text-base">
                            <q>复旦大学工程与应用技术研究院（以下简称工研院）成立于2017年1月，旨在依托复旦大学多学科基础研究的优势，系统化、集成化开展跨学科多领域合作，瞄准面向国家重大需求的前瞻性、关键性、创造性工程与应用技术研发，建设具有体制机制优势的创新型工程与应用技术研究院。</q>
                        </p>
                    </blockquote>
                    <blockquote class="quote-2"><img class="img-rounded"  src="images/SCSlogo.jpg" alt="" href="http://www.cs.fudan.edu.cn/">
                        <h6>
                            <cite>SCS</cite>
                        </h6>
                        <p class="heading-6 font-italic font-base text-base">
                            <q>复旦大学计算机学科有 60 余年的历史，始于 1956年自主建造的国内第一台电子模拟计算机。1975年，复旦大学成立计算机科学系。2008年，学校整合校内计算机学科力量，成立计算机科学技术学院（以下简称学院）。2002年成立的国家级示范性软件学院及 2011 年成立的国家保密学院，现均依托学院开展办学工作。</q>
                        </p>
                    </blockquote>
                    <blockquote class="quote-2" ><img class="img-rounded" href="https://www.zte.com.cn/china/" src="images/ZTElogo.jpg" alt="">
                        <h6>
                            <cite >ZTE Corporation</cite>
                        </h6>
                        <p class="heading-6 font-italic font-base text-base">
                            <q>中兴通讯是全球领先的综合通信信息解决方案提供商。公司成立于1985年，是在香港和深圳两地上市的大型通信设备公司。公司通过为全球160多个国家和地区的电信运营商和政企客户提供创新技术与产品解决方案，让全世界用户享有语音、数据、多媒体、无线宽带等全方位沟通。</q>
                        </p>
                    </blockquote>
                   
                </div>
            </div>
        </div>
    </section>
    <!--End section-->
</main>



